/*#departement-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}*/


.departement-prensentation {
    width: 90%;
}

.departement-couverture img{
    max-width: 250px;
}

.departement-info{
    width: 60%;
    padding: 1% 1% 5% 1%;
}