#departement{
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
}


.departement {
    width: 90%;
}

.departement-couverture img{
    max-width: 250px;
    /*padding: 0 1% 0 1%;*/
}

/*.departement-couverture img{
    
}*/

.departement-info{
    width: 60%;
    padding: 1% 1% 5% 1%;
}